<h2>Hi <%= @user.first_name %></h2>
<a href="/logout">Logout</a>
<h3>Here are the organizations you may join:</h3>

<% @groups.each do |g| %>
<% if current_user.id == g.user_id %>
	<form action="/destroy" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="group_id" value="<%= g.id %>">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
<% end %>
	<a href="/groups/<%= g.id %>"><%= g.name %></a>
	<p>Members:<%= g.members.count %></p>
	<p><%= g.description %></p>
<hr>
<% end %>

<h3>Create a new organization:</h3>
<form action="/create_group" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>Org Name:</label>
	<input type="text" name="group[name]">
	<label>Description:</label>
	<textarea name="group[description]"></textarea>
	<input type="submit" value="Create">
</form>
<% if flash[:errors] %>
	<%= flash[:errors] %>
<% end %>