<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




</head>


<div class="container">

  <h2><span class="glyphicon glyphicon-flag"></span><strong>SuperGroups</strong></h2>


  <div class="panel panel-default">

    <div class="panel-body">
        <h3><strong>Dashboard</strong></h3>
    
      <h3><em>Hi, <%= @user.first_name %></em></h3>
      <ul class="nav nav-pills">
       <li><a href="/logout">Logout</a></li>
     </ul>
    </div>
   </div>
 </div>

   
  


<div class="container">
  <div class="col-md-4">
   <div class="panel panel-default">
    <div class="panel-heading">
     <h3><strong>Recent Groups</strong></h3>
     </div>
     <div class="panel-body">
		<% @groups.each do |g| %>
			<h3><a href="/groups/<%= g.id %>"><%= g.name %></a></h3>
			<p>Members:<%= g.members.count %></p>
			<p><strong><%= g.description %></strong></p>
			<a href><%= g.link %></a>
			<hr>

			<% if current_user.id == g.user_id %>
				<form action="/destroy" method="POST">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="group_id" value="<%= g.id %>">
					<input type="hidden" name="_method" value="delete">
					<a><input type="submit" value="Delete Group" ></a>
				</form>
				<br>
				<br>
			<% end %>
			<% end %>

  </div>
  </div>
</div>







<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><strong>Create a new organization </strong></h3>
      </div>
       <div class="panel-body">
			<form action="/create_group" method="POST">
			   
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

				<div class="form-group">
				<label>Org Name:</label>
				<input type="text" name="group[name]">
				</div>
				</br> 
				</br>

				<div class="form-group">
				<label>Description:</label>
				<textarea name="group[description]"></textarea>
				</div>

				<div class="form-group">
				<label>Link:</label>
				<input type="text" name="group[link]">
				</div>
			 
			    <div class="form-group">
				<input class="btn btn-primary" type="submit" value="Create">
				</div>
				
			</form>
			<% if flash[:errors] %>
				<%= flash[:errors] %>
			<% end %>
    </div>
  </div>
</div>


</div>