<html>
<head>
</head>
<body>


<div class="container">
  <div class="panel panel-default">
     <div class="panel-body">
       <h3><em>Hi, <%= @user.first_name %></em></h3>
       <ul class="nav nav-pills">
       <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
   </div>
  </div>

   
  


<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
     <div class="panel-heading">
      <h3><strong>Groups you may join:</strong></h3>
     </div>
     <div class="panel-body">
		<% @groups.each do |g| %>
			<h3><a href="/groups/<%= g.id %>"><%= g.name %></a></h3>
			<p>Members: <%= g.members.count %></p>
			<p><strong><%= g.description %></strong></p>
			<a href><%= g.link %></a>
			<hr>

			<% if current_user.id == g.user_id %>
				<form action="/destroy" method="POST">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="group_id" value="<%= g.id %>">
					<input type="hidden" name="_method" value="delete">
					<a><input type="submit" value="Delete Group" class="btn btn-danger"></a>
				</form>
				
			<% end %>
		<% end %>

    </div>
  </div>
</div>







<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><strong>Create a new organization </strong></h3>
      </div>
       <div class="panel-body">
			<form action="/create_group" method="POST">
			   
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

				<div class="form-group">
				<label>Org Name:</label>
				<input type="text" name="group[name]" class="form-control">
				</div>
			

				<div class="form-group">
				<label>Description:</label>
				<textarea name="group[description]" class="form-control"></textarea>
				</div>

				<div class="form-group">
				<label>Link:</label>
				<input type="text" name="group[link]" class="form-control">
				</div>
			 
			    <div class="form-group">
				<input class="btn btn-primary" type="submit" value="Create">
				</div>
				
			</form>
			<% if flash[:errors] %>
				<%= flash[:errors] %>
			<% end %>
    </div>
  </div>
</div>


</div>

</body>
</html>