<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>


<div class="container">
<ul class="nav nav-pills">
  <li role="presentation" class="disabled"><h2><span class="glyphicon glyphicon-flag"></span><strong>SuperGroups</strong>	</h2></li>
</ul>
</div>

<div class="container">

<div class="panel panel-default">
<ul class="nav nav-pills">
<li><a href="/groups">Dashboard</a></li>
<li><a href="/logout">Logout</a></li>
</ul>
</div>
</div>


<div class="container">
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading">
<h1><strong><%= @group.name %></strong></h1>
</div>
<div class="panel-body">
<h4><strong>About</strong></h4>
<p><em><%= @group.description %></em></p>
<p><a><%= @group.link %></a></p>

<% if @group.user_id == current_user.id %>
	<p>Created By: <strong><%= current_user.first_name %></strong></p>
<% else %>
	<p>Created By: <%= @group.user.first_name %> <%= @group.user.last_name %></p>
<% end %>
</div>
</div>
</div>


<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3><strong>Members</strong></h3>
    </div>
     <div class="panel-body">
		<% @group.members_joined.each do |g| %>
		<ul>
			<li><h4><%= g.first_name %> <%= g.last_name %><h4></li>
		</ul>
		<% end %>

		
   </div>
  </div>
</div>

<div class="col-md-4">
<% if @group.members_joined.include?(current_user) %>
			<form action="/leave_group" method="POST">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="hidden" name="group_id" value="<%= @group.id %>">
				<input class="btn btn-danger" type="submit" value="Leave Group">
			</form>
		<% else %>
			<form action="/join_group" method="POST">

		        <div class="form-group-input">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="group_id" value="<%= @group.id %>">
				<input class="btn btn-primary" type="submit" value="Join Group">
				</div>
			</form>
		<% end %>
</div>


</div>
</div>